  <%= form_for signer do |f| %>
  <div class='form-group text-center'>
    <%= f.text_area :flag_purpose, placeholder: 'Reason for flagging...', class: 'form-control' %><br>
    <%= f.submit 'Flag This Signer', class: 'btn btn-info' %>
  </div>
  <% end.gsub('"', '\'') %>
