<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h4>Import Signers</h4>

    <%= form_tag import_signers_path, multipart: true do %>
    <form>
      <div class="form-group">
        <%= file_field_tag :file %>
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <%= password_field_tag :password %>
      </div>
      <%= submit_tag "Import CSV", class: 'btn btn-info' %>
    </form>
    <% end %>
  </div>
</div>
